target/
bin/
data_backup/
.DS_Store
.svn
.hg
.hgtags
.vscode
.settings
.classpath
.project
Thumbs.db
node_modules
web/src/main/webapp/dist

web/src/main/webapp/data/submissions/*.txt
web/src/main/webapp/data/*.txt

.factorypath
application.log
logs/*
web/**/webContext.xml

hipc.sql
hipc*.zip
hipc_signature*.sql
hipc_signature.sql.backup
*.tmp
*.pyc

docker/hipc-signatures-index
docker/*.war
docker/*.sql
