core/**/signature.properties
target/
bin/
.DS_Store
.svn
.hg
.hgtags
.vscode
.settings
.classpath
.project
Thumbs.db

web/src/main/webapp/data/submissions/*.zip
web/src/main/webapp/data/*.txt

.factorypath
application.log
logs/*
web/**/webContext.xml

hipc_signature*.sql
hipc_signature.sql.backup
*.tmp
*.pyc

docker/hipc-signatures-index
docker/*.war
docker/*.sql
