@import url(http://fonts.googleapis.com/css?family=Fanwood+Text|Open+Sans+Condensed:300);

body {min-width: 1200px;}

h1, h2, h3, h4 {
	font-family: 'Bodoni MT', 'Fanwood Text', serif;
    font-weight: normal;}

a {color: #2e75a5; text-decoration:none;}
a:hover {text-decoration:underline; outline:none;}

em {font-style:italic;}
b {font-weight: bold;}

body {
	background-color: #d6deb9;
	font-family: arial, sans-serif;
	font-size: 13px;
    overflow-y: scroll;
	}

.container {
	margin:0 auto;
	width: 1200px;
	padding:20px 0;}

#header {
	background-color: #fff;
	background-image:url('../images/gradient_gray.png');
	background-repeat:repeat-x;
	background-position: bottom left;
	border-bottom: 3px solid #94ce18;
	position:relative;
	z-index:100;
	}

#header .container {padding:0; position: relative; height: 160px; }

#header h1 {
	color:#2e75a5;
	font-size: 44px;
	float: left;
	margin:40px 0 0 0;
	width:900px;
	}

#header h1 span#logo {
	display:none;
	height: 100px;
	width: 100px;
	float: left;
	background: red; /*temp*/
	margin:0 35px 0 0;
	}

#header h1 a:hover {text-decoration:none;}

#header h1 span#logo a{width: 100%; height: 100%;}

#header h1 span#title {display:block;  float: left;}

#header h1 span#title a {color: #2e75a5;} 

/***********MAIN-NAV************/

#main-nav {clear: both;  list-style: none; position:absolute; bottom:0; right:0; margin: 0; }

#main-nav li {
	background-color: #519ec6;
	background-image: url('../images/bg_main-nav.png');
	display: block;
	float:left;
	font-family: 'Helvetica LT Std Condensed', 'Open Sans Condensed', 'arial narrow', sans-serif;
	margin:0 0 0 1px;
	position:relative;
    text-shadow: -1px 1px 1px #497c96;
	}

#main-nav li a {
	background-image:url('../images/gradient_gray.png');
	background-repeat:repeat-x;
	background-position: bottom left;
	color: #fff;
	display: block;
	float: left;
	font-size: 12px;
	font-weight: 300;
	line-height: 14px;
	padding:10px 10px 8px 10px;
	position: relative;
	text-transform: uppercase;
	}

#main-nav li h4 {
	background-image:url('../images/gradient_gray.png');
	background-repeat:repeat-x;
	background-position: bottom left;
	color: #fff;
	display: block;
	float: left;
    font-family: 'Helvetica LT Std Condensed', 'Open Sans Condensed', 'arial narrow', sans-serif;
	font-size: 12px;
	font-weight: 300;
	line-height: 14px;
	padding:10px 10px 8px 10px;
	position: relative;
	text-transform: uppercase;
	}

#main-nav li.active {
	background-color: #94ce18;
	background-image:none;

    text-shadow: -1px 1px 1px #76a218;}

#main-nav li.active a {background-image:none;}


#main-nav  li:hover, #main-nav  li.hover {
	background-color: #2e75a5 ;
    background-image: none;
    text-shadow: -1px 1px 1px #1f567b;}

#main-nav li:hover a, #main-nav li.active:hover a, #main-nav li a:hover 	{
	text-decoration: none;
	background-image: none;
	}


/**********FLYOUT MENU*************/

#main-nav li  ul.dropdown{
	background-color: #2e75a5;
	left:-99999px;
	border-radius:3px;
	border-top-left-radius:0;
	position: absolute;
	top:32px;
	width:160px;
    margin: 0;

	-moz-box-shadow: 1px 1px 5px #28658e;
	-webkit-box-shadow: 1px 1px 5px #28658e;
	box-shadow: -1px 1px 5px #28658e;
	}

#main-nav li:hover ul.dropdown, #main-nav li.hover ul.dropdown {
	left:0;
	}

#main-nav li  ul.dropdown li {
	background-image:none;
	background-color: transparent;
	float:none;
	margin:0;}

#main-nav li  ul.dropdown li a {
	background-image:none;
    line-height: 13px !important;
	float: none;
    padding: 5px 10px 3px 10px;
}

#main-nav li  ul.dropdown li:hover, #main-nav li  ul.dropdown li.hover {
	background-color:#519ec6;}

#header:after {content:""; display:block; clear: both;}


/*** TERTIARY LEVEL LINKS***/
#main-nav li ul.dropdown li ul.dropdown_flyout {
	position:absolute;
    top:0;
    background-color: #519ec6;
    width: 150px;
    left:-99999px;
    -moz-box-shadow: 1px 1px 5px #28658e;
    -webkit-box-shadow: 1px 1px 5px #28658e;
    box-shadow: 1px 1px 3px #28658e;
}

#main-nav li ul.dropdown li:hover ul.dropdown_flyout, #main-nav li ul.dropdown li.hover ul.dropdown_flyout {
	left:115px;}

#main-nav li ul.dropdown li ul.dropdown_flyout li a:hover {
        background-color: #2e75a5;
}

#main {background-color: #f1f5de;}

 /**************************************
 **********INTERIOR PAGES***************
 **************************************/

#main {
	background-image:url('../images/bg_main.png');
	background-repeat: repeat-x;
	padding-top:12px;}

#main #content {
	background-color: #fff;
	background-image:url('../images/bg_sidebar.png');
	background-repeat: repeat-y;
		-moz-border-radius:3px;
		-webkit-border-radius: 3px;
	border-radius: 3px;
	color: #292929;
	line-height: 19px !important;
	padding:30px;
	position: relative;
    height: auto;
    clear: both;
    overflow: auto;
	}

#main #content h2 {
	border-bottom:1px solid #d1e4f1;
	color: #2e75a5;
	font-size: 36px;
	margin:0 0 15px 0;
	padding: 0 0 5px 0;
    clear: both;
}

ul.items {margin-left:0;}

hr {
	height:0px;
	font-size:0px;
	border:0;
	padding:0 !important;
	margin:10px 0 20px 0 !important;
	border-bottom: 1px solid #D1E4F1;}

.required {
	color: #933535;}

#footer {
	background-color: #d6deb9;
	color: #4f543c;
	font-size: 11px;}

input.search
{
    background-image:url('../images/search-mag.png');
    background-position: 98% 4px;
    background-repeat: no-repeat;
    padding-right:30px;
    width: 185px;
}

input.search:hover, input.search:focus{
    background-position: 98% -21px;
}

.row { margin-bottom:18px;}

.tooltip-inner {text-align: left;}
